.home,
.iconBack {
  position: relative;
}
.iconBack {
  width: 23px;
  height: 23px;
}
.home {
  text-decoration: none;
  font-size: var(--font-size-base);
  letter-spacing: 0.01em;
  line-height: 28px;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.iconBackParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  position: sticky;
  top: 120px;
}
.tableOfContents {
  height: 21px;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s;
}
.conclusion:hover,
.howItBenefits:hover,
.introduction:hover,
.tableOfContents:hover,
.whatIsDigital:hover {
  color: var(--color-royalblue);
}
.introduction {
  height: 28px;
  line-height: 28px;
}
.conclusion,
.howItBenefits,
.introduction,
.whatIsDigital {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  color: inherit;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}
.whatIsDigital {
  width: 205px;
  height: 56px;
  line-height: 28px;
}
.conclusion,
.howItBenefits {
  align-self: stretch;
  height: 50px;
  line-height: 25px;
}
.conclusion {
  height: 25px;
  font-size: var(--font-size-base);
}
.introductionParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mini);
  color: var(--studio-darkmode-popuplabels-5e6a86);
}
.tableOfContentsParent {
  width: 235px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
  position: sticky;
  top: 165px;
}
.blogArticleBodyLoyalty,
.frameParent,
.tableOfContentsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-17xl);
}
.blogArticleBodyLoyalty {
  width: 100%;
  flex-direction: column;
  gap: var(--gap-4xl);
  max-width: 1113px;
}
.discoverMoreTopics {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
}
.blogCatHeaders {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 240px;
  flex-shrink: 0;
  object-fit: cover;
}
.minRead {
  height: 18px;
  position: relative;
  letter-spacing: -0.04em;
  display: inline-block;
}
.frameWrapper,
.minReadWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.minReadWrapper {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke);
  align-items: flex-start;
  padding: var(--padding-10xs) var(--padding-7xs);
}
.frameWrapper {
  align-self: stretch;
  align-items: center;
}
.boostYourBusiness {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.02em;
  line-height: 34px;
  font-family: var(--font-inter);
  color: var(--studio-darkmode-exportbg-1a202e);
}
.frameParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.asABusiness {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 21px;
}
.asABusinessOwnerInNepalWrapper,
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.asABusinessOwnerInNepalWrapper {
  font-size: var(--font-size-smi);
  color: var(--studio-darkmode-exportbg-1a202e);
  font-family: var(--font-poppins);
}
.frameDiv {
  gap: var(--gap-5xs);
}
.frameItem {
  align-self: stretch;
  position: relative;
  border-top: 0.7px solid var(--studio-lightmode-lightseparator-ecf0f6);
  box-sizing: border-box;
  height: 0.7px;
}
.avatarIcon {
  width: 40px;
  position: relative;
  height: 40px;
  object-fit: cover;
}
.postedOnJun,
.yeshiDolkar {
  position: relative;
  display: inline-block;
}
.yeshiDolkar {
  width: 145.5px;
  height: 21px;
  letter-spacing: -0.04em;
  font-weight: 600;
}
.postedOnJun {
  width: 150px;
  height: 16px;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
}
.articleAuthor,
.authorText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.articleAuthor {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mid);
  font-family: var(--font-sora);
}
.frameContainer {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-base);
  gap: var(--gap-smi);
}
.frameContainer,
.minReadContainer,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  text-decoration: none;
  width: 32%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--studio-lightmode-midseparator-dee3eb);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-9xs);
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
  color: inherit;
}
.rectangleGroup:hover,
.rectangleParent:hover {
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
}
.minReadContainer {
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-7xs);
}
.transformFromTraditional {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 21px;
  white-space: pre-wrap;
}
.lineDiv {
  width: 302.7px;
  position: relative;
  border-top: 0.7px solid var(--studio-lightmode-lightseparator-ecf0f6);
  box-sizing: border-box;
  height: 0.7px;
}
.avatarIcon1 {
  width: 40px;
  position: relative;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}
.articleAuthor1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frameParent2,
.lineParent,
.rectangleGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.lineParent {
  justify-content: flex-start;
  gap: var(--gap-smi);
  font-size: var(--font-size-mid);
}
.frameParent2,
.rectangleGroup {
  align-self: stretch;
}
.frameParent2 {
  flex: 1;
  justify-content: space-between;
  padding: var(--padding-base);
}
.rectangleGroup {
  text-decoration: none;
  width: 32%;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 0.7px solid var(--studio-lightmode-midseparator-dee3eb);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  margin-bottom: 20px;
  transition: 0.3s;
  cursor: pointer;
  color: inherit;
}
.frameChild1 {
  width: 330.7px;
  position: relative;
  border-top: 0.7px solid var(--studio-lightmode-lightseparator-ecf0f6);
  box-sizing: border-box;
  height: 0.7px;
}
.shreeyanchShrestha {
  width: 185px;
  height: 21px;
  position: relative;
  letter-spacing: -0.04em;
  font-weight: 600;
  display: inline-block;
}
.frameGroup,
.postedOnMay {
  font-size: var(--font-size-sm);
}
.postedOnMay {
  width: 161px;
  height: 16px;
  position: relative;
  font-family: var(--font-roboto);
  color: var(--studio-darkmode-normalsolid-icons-96a2be);
  display: inline-block;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--color-dimgray);
  font-family: var(--font-source-code-pro);
}
.boostYourBusinessWithNfcE,
.frame7680Loyalty {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame7680Loyalty {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-81xl) var(--padding-101xl);
  gap: var(--gap-11xl);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.boostYourBusinessWithNfcE {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  align-items: center;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-400);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1200px) {
  .blogArticleBodyLoyalty {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 669px) {
  .iconBackParent {
    position: relative;
    top: auto;
  }
  .tableOfContentsParent {
    display: none;
  }
  .rectangleGroup,
  .rectangleParent {
    width: 48%;
  }
}
@media screen and (max-width: 428px) {
  .rectangleGroup,
  .rectangleParent {
    align-self: stretch;
    width: auto;
  }
  .frameGroup {
    flex-direction: column;
  }
  .frame7680Loyalty {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
