.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image9 {
  position: absolute;
  top: calc(50% - 160.5px);
  left: calc(50% - 164.5px);
  width: 331px;
  height: 321px;
  /* background-image: url(/image-9@3x.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.vectorParent {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.filterReview {
  width: 321px;
  position: relative;
  height: 321px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
