.productVisuals {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.06em;
  line-height: 150%;
  font-weight: 300;
}
.step1Icon {
  width: 376px;
  position: relative;
  height: 441px;
  flex-shrink: 0;
  object-fit: cover;
}
.howtoorderframe,
.productvisualsreview {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.howtoorderframe {
  overflow-x: auto;
  flex-direction: row;
  padding: var(--padding-11xl) var(--padding-31xl);
}
.productvisualsreview {
  background-color: var(--color-gray-600);
  flex-direction: column;
  padding: var(--padding-112xl) var(--padding-101xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .productVisuals {
    font-size: var(--font-size-11xl);
  }
}
@media screen and (max-width: 768px) {
  .productVisuals {
    font-size: var(--font-size-11xl);
  }
  .howtoorderframe {
    flex-direction: row;
  }
}
@media screen and (max-width: 428px) {
  .productVisuals {
    font-size: var(--font-size-6xl);
    display: flex;
  }
  .step1Icon {
    width: 276px;
    height: 341px;
  }
  .howtoorderframe {
    flex-direction: row;
  }
  .productvisualsreview {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-81xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 360px) {
  .howtoorderframe {
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
}
