@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.whyLoyalty {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  font-size: 25px; /* var(--font-size-29xl) */

}

.image34Icon {
  width: 77px;
  position: relative;
  height: 76px;
  object-fit: cover;
}

.description {
  align-self: stretch;
  position: relative;
  line-height: 22px;
  font-weight: 300;
}

.benefitone {
  flex: 1;
  border-radius: 12px; /* var(--br-xs) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 12px; /* var(--padding-xl) var(--padding-xs) */
  gap: 25px; /* var(--gap-6xl) */
}

.description1 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  font-size: 15px; /* var(--font-size-29xl) */

}
.description2{
  align-self: stretch;
  position: relative;
  font-weight: 700;
  font-size: 20px; /* var(--font-size-29xl) */
}

.image36Icon {
  width: 76px;
  position: relative;
  height: 76px;
  object-fit: cover;
}

.benefitsframe,
.benefitsreview {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px; /* var(--gap-13xl) */
  font-size: 20px; /* var(--font-size-xl) */
}

.benefitsreview {
  overflow: hidden;
  flex-direction: column;
  padding: 130px 120px; /* var(--padding-112xl) var(--padding-101xl) */
  gap: 40px; /* var(--gap-21xl) */
  opacity: 0;
  z-index: 4;
  text-align: center;
  font-size: 31px; /* var(--font-size-16xl) */
  color: #fff; /* var(--color-white) */
  font-family: Poppins; /* var(--font-poppins) */
}

.benefitsreview.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}

@media screen and (max-width: 960px) {
  .description
  .description1  {
    font-size: 14px; 
    font-weight: 300;
  }
  .benefitone {
    flex: unset;
    align-self: stretch;
  }
  .benefitsframe {
    flex-direction: column;
  }
  .benefitsreview {
    padding: 50px 20px; /* Adjusted padding for smaller screens */
    box-sizing: border-box;
  }
}

@media screen and (max-width: 440px) {
  .whyLoyalty {
    font-size: 23px; 
    /* Adjusted font size for very small screens */
  }

  .description,
  .description1 {
    font-weight: 300;
    font-family: Poppins; /* var(--font-poppins) */
    font-size: 14px; /* var(--font-size-smi) */
  }
  .description1 {
    font-weight: 300;
  }
  .benefitsframe {
    gap: 10px; /* var(--gap-3xs) */
  }
  .benefitsreview {
    padding: 25px; 
    font-size: 30px; 
    box-sizing: border-box;
  }
}

@media screen and (max-width: 350px) {
  .whyLoyalty {
    font-size: 24px; /* Adjusted font size for very small screens */
  }
  .description,
  .description1 {
    font-size: 11px; /* var(--font-size-2xs) */
  }
  .benefitsframe,
  .benefitsreview {
    padding: 20px 10px; /* Adjusted padding for very small screens */
    box-sizing: border-box;
  }
  .benefitsreview {
    padding-left: 20px; /* Adjusted padding */
    padding-right: 20px; /* Adjusted padding */
  }
}
